:root {
  --white: #fff;
  --primary: #61ecbc;
  --black: #182339;
}

html {
  /* Se  coloca este porcentaje para que los rem tengan igualdad con los pixeles*/
  font-size: 62.5%;
}

body {
  background-image: url("/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  font-family: "Outfit", sans-serif;
  font-size: 2rem;
}

.container {
  max-width: 60rem;
  width: 95%;
  margin: 0 auto;
}

.app-title {
  font-size: 3.8rem;
  color: var(--white);
  text-align: center;
  margin-top: 5rem;
  line-height: 0.9;
}

.app-title span {
  display: block;
  color: var(--primary);
  font-size: 4.5rem;
}

.content {
  margin-top: 5rem;
  padding: 6rem 2rem;
  background-color: var(--white);
  border-radius: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.form .field {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form label {
  font-size: 2.5rem;
  color: var(--black);
}

.form select {
  font-size: 1.5rem;
  padding: 1rem;
  border: none;
  border-radius: 1rem;
  background-color: #ecebeb;
}

.form [type="submit"] {
  font-weight: 900;
  padding: 1rem;
  border: none;
  border-radius: 1rem;
  background-color: var(--primary);
  color: var(--black);
  cursor: pointer;
  text-transform: uppercase;
  width: 100%;
  margin-top: 2rem;
  transition: background-color 0.3s ease-in-out;
}

.form [type="submit"]:hover {
  background-color: #0cb387;
}
